# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environments
venv/
.env/
.envrc/
backend/venv/

# Logs & runtime files
*.log
*.sqlite3
*.pid

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# MKDocs
site/

# Frontend (Vue)
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.vite/
frontend/.cache/

# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env

# Backend
backend/images/
backend/queries/
backend/liked.db
backend/latest_query.pkl
backend/available_tables_cities.csv
backend/.env

# Table creator

table_creator/sao_paulo/
table_creator/berlin/
table_creator/cape_town/
table_creator/washington/
table_creator/taipei/
table_creator/sydney/
table_creator/.env
table_creator/venv/
table_creator/delete.log